<div class="container">
  <div class="row justidy-content-center">
    <div class='col-md-8'>
      <h2>Chronometre</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="chronoBox">
        Mon chrono : 
        <span class="time" id="display"> {{time}} </span>
      </div>
      <div>
        <button type="button" id="btnStart"  (click)="start()" *ngIf="!isStarted"> Start </button>
        <button type="button" id="btnErase"  (click)="pause()" *ngIf="isStarted && !isPaused"> Pause </button>
        <button type="button" id="btnSave"   (click)="keep()" *ngIf="isStarted && !isPaused"> Keep </button>
        <button type="button" id="btnContinue"(click)="continue()" *ngIf="isStarted && isPaused"> Continue </button>
        <button type="button" id="btnClear" (click)="stop()" *ngIf="isStarted && isPaused"> Clear </button>
      </div>
    </div>
  </div>




  <div class="card" *ngIf="tableNotEmpty">
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">+/-</th>
            <th scope="col">Durée</th>
            <th scope="col">Note</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of result; let itemIndex = index">
            <th scope="row">
              <button (click)="removeItem(itemIndex)">x</button>
            </th>
            <td>{{item.time}}</td>
            <td> <input type="text"class="form-control" [attr.for]="'number-' + index" (keyup)="addText($event)"></td>
          </tr>

         <!-- <tr>
            <th scope="row">
              <button (click)="remove()">x</button>
            </th>
            <td>{{this.result[1]}}</td>
            <td>
              <input type="email" class="form-control">
            </td>

          </tr>
          <tr>
            <th scope="row">
              <button>x</button>
            </th>
            <td>{{this.result[2]}}</td>
            <td> <input type="email" class="form-control"></td>

          </tr>-->
        </tbody>
      </table>
    </div>
  </div>


</div>