<div class="container">
  <div class="row justidy-content-center">
    <div class='col-md-8'>
      <h2>Chronometre</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="chronoBox">
        Mon chrono sera la
        <span class="time" id="display">00:00:00</span>
      </div>
      <div>
        <button type="button" id="btnStart" (click)="start()" *ngIf="!isStarted"> Start </button>
        <button type="button" id="btnErase" (click)="pause()" *ngIf="isStarted && !isPaused"> Pause </button>
        <button type="button" id="btnSave"*ngIf="isStarted && !isPaused"> Keep </button>
        <button type="button" id="btnContinue"(click)="continue()" *ngIf="isStarted && isPaused"> Continue </button>
        <button type="button" id="btnClear"*ngIf="isStarted && isPaused"> Clear </button>
      </div>
    </div>
  </div>




  <div class="card">
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">+/-</th>
            <th scope="col">Durée</th>
            <th scope="col">Note</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <button>x</button>

            </th>
            <td>00 : 00 : 00 sec</td>
            <td> <input type="mail"></td>

          </tr>
          <tr>
            <th scope="row">
              <button>x</button>
            </th>
            <td>00 : 00 : 00 sec</td>
            <td>
              <input type="mail">
            </td>

          </tr>
          <tr>
            <th scope="row">
              <button>x</button>
            </th>
            <td>00 : 00 : 00 sec</td>
            <td> <input type="mail"></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>